{% extends "layout.html" %}
{% block title %} - {{ venuename }}{% endblock %}
{% block content %}
<h1>Orienteering at {{ venuename }}</h1>
<h3>Try it out now!</h3>
	<p> {{ venuename }} has {{ coursesN }} pre-set courses. Start with the beginner course, and try the others if you have time. :)

{% for c in courses %}
	<p><a href={{ url_for('init_course', venuecode=c.venuecode, course=c.coursecode) }}> {{ c.coursefull }}</a> ({{ c.distance }})
{% endfor %}

<h3>What is Orienteering?</h3>
	<p> Orienteering chellenges people of every age to find their way through a set of checkpoints using only a map and compass.
		Cascade Orienteering Club has set up a permanent course here at {{ venuename }} which you can try out right now!
		You'll use your phone to view an orienteering-style map - no need for a compass.
		In city parks many orienteers skip using a compass becuase there are so many unique features to help orient the map.
		What are you waiting for? <a href={{ url_for('init_course', venuecode=venuecode, course=1) }}>Try it out!</a>


{% endblock %}
